.header {
    height: 50px;
    background-color: rgb(22, 47, 85);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cart-button {
    width: 80px;
    height: 30px;
    background-color: rgb(226, 43, 98);
    margin-right: 50px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    
}

.cart-button:hover {
    background-color: rgb(168, 28, 70);
    cursor: pointer;
}

.total-sum {
    width: 80px;
    height: 30px;
    background-color: rgb(226, 43, 98);
    margin-right: 50px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 30px;
}

.goods-search {
    width: 150px;
    height: 30px;
    border-radius: 20px;
}
.search-button {
    width: 80px;
    height: 25px;
    background-color: rgb(226, 43, 98);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-right: 50px;
    margin-left: 10px;
}

.goods-list{
    max-width: 1600px;
    margin: 0 auto;
    // display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    grid-gap: 10px;
}

.cart-list{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
    grid-gap: 10px;
}

.goods-item {
    margin-top: 20px;
    min-height: 250px;
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.image {
    min-width: 130px;
    min-height: 130px;
    outline: 1px solid rgb(255, 0, 0);
}

h3,
p {
    margin: 0;
}
